.filter-button {
	background: transparent;
	width: 50px;
	height: 30px;
	margin-left: 20px;
	margin-right: 20px;
	-webkit-transition: box-shadow 0.25s ease-in-out, background 0.25s;
	   -moz-transition: box-shadow 0.25s ease-in-out, background 0.25s;
	    -ms-transition: box-shadow 0.25s ease-in-out, background 0.25s;
	     -o-transition: box-shadow 0.25s ease-in-out, background 0.25s;
	     	transition: box-shadow 0.25s ease-in-out, background 0.25s;

    -webkit-box-shadow: 0 0.50em 0.50em #2E1C2F;
	   -moz-box-shadow: 0 0.50em 0.50em #2E1C2F;
	        box-shadow: 0 0.50em 0.50em #2E1C2F;
}

.filter-button.normal.active {
	background: #443545;
    -webkit-box-shadow: 0 0.25em 0.25em #2E1C2F;
	   -moz-box-shadow: 0 0.25em 0.25em #2E1C2F;
	        box-shadow: 0 0.25em 0.25em #2E1C2F;
}

.filter-button:focus {
	outline: none;
}